* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #22272e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#timer {
  font-size: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.786);
}
body {
  /* background-image: url("3.jpg");
        background-repeat: no-repeat;
         background-size: cover;*/
  background-color: black;
}
.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.item-1 {
  font-size: 20px;
  background-color: #22272e;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  align-items: center;
  flex-wrap: wrap;
}

/* CSS */
.btn {
  align-items: center;
  background-color: #000000;
  border: 2px solid #10ef00;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:focus {
  color: #f1f1f1;
}

.btn:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.btn:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.blue {
  border: 2px solid rgb(229, 255, 0);
  border-radius: 0.2rem;
}
.green {
  margin-right: 1rem;
  border-radius: 0.2rem;
}
@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

#submit:focus {
  background-color: rgb(28, 9, 114);
  /* opacity: 0.3; */
}
#out {
  color: green;
  font-size: 20px;
  /* background-color: #ffffffd1; */
  background-color: #22272e;
  border-radius: 8px;
}
#input {
  font-size: 20px;
  background-color: #22272e;
  color: white;
  border-radius: 8px;
  border: none;
}
#input:focus {
  border: none;
}
.item-4 {
  color: #000000;
  font-size: 20px;
  background-color: #ffffffd1;
  border-radius: 8px;
}
#code {
  /* color: #000000; */
  font-size: 20px;
  /* background-color: #ffffffd1; */
  /* background-color: #000000; */
  background-color: #22272e;
  color: greenyellow;
  border-radius: 8px;
}
.logo {
  width: 150px;
  height: 200px;
  position: absolute;
  top: -20px;
}
.back-btn {
  position: absolute;
  top: 50px;
  right: 40px;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 8px;
  height: 40px;
  width: 140px;
  outline: none;
  overflow: hidden;
  color: #ffffff;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;
}
.back-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
.back-btn:hover {
  color: #fff;
}
.back-btn:hover::before {
  box-shadow: inset 0 0 0 10em #ffffff70;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
input[type="text"] {
  background-color: #ffffff71;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 2px;
  border: none;
  color: #000000;
  font-size: 20px;
}
input[type="button"] {
  background-color: #ffffff70;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 130px;
  height: 40px;
  font-size: 15px;
}

.container {
  padding: 1rem;
  gap: 0.3rem;
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100vh;
  width: 100vw;
}

.item-1 {
  grid-row: 1 / 5;
  border: 1px solid black;
  overflow-y: scroll;
}

.item-8 {
  grid-row: 5/8;
  border: 1px solid black;
}
.item-2 {
  position: absolute;
  right: 0;
  top: 2%;
  left: 85%;
}
/* #language{
      width: 75px;
      height: 35px;
      size: 18px;
      background-color: rgb(47, 0, 255);
      color:white;
      border: none;
      border-radius: 0.2rem;
    }
     */
.box {
  position: absolute;
  top: 1.5%;
  left: 70%;
}
.box select {
  border-radius: 0.3rem;
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 170px;
  border: none;
  font-size: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

select:hover {
  background-color: #0b4370;
}

.box select option {
  padding: 30px;
}
.item-3 {
  position: relative;
  grid-row: 1/5;
}
.item-4 {
  grid-row: 6/8;
}

textarea {
  width: 100% !important;
  height: 100% !important;
  overflow-y: scroll !important;
  border: none;
  overflow: auto;
  outline: none;
  padding: 0.5rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}
